* {
    margin: 0;
    padding: 0;
}
body {
    background: url(http://placehold.it/300x100) repeat-x;
}
h1, h2 {
    color: #c73f49;
}
p, h1, h2, h3, ul, ol {
    padding-bottom: 15px;
}
.container {
    font-family: Tahoma, Geneva, sans-serif;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    /* background: url(http://placehold.it/30x20) no-repeat; */
    padding-top: 225px;
    padding-left: 40px;
}
.infoBox {
    position: relative;
}
.readMore {
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.readMore a {
    background: url(http://placehold.it/30x20) no-repeat left top;
    padding-left: 50px;
    color: #992122;
    text-decoration: none;
    height: 35px;
    display: block;
    padding-top: 15px;
}
.readMore a:hover {
    color: #333;
}